{% extends 'main/base.html' %}

{% block content %}   
    <h3>{{item.name}}</h3>
    <div class="itemContainer">
        <p>{{item.description}}</p>
        <img src="{{item.image.url}}" width="7%">
    </div>    

    <div class="itemContainer">
        <p>Item price:{{item.item_price}} Super credits</p>
        <p>Item rating:</p>
    </div>

    <div class="itemContainer">
        {% if user.is_authenticated %}
        <h3>Add your rating</h3>
        {% block rating %}
        <form method="post" action="">
            {% csrf_token %}
            {{form}}
            <button type="submit", name="save">Share review</button>
        </form>        
        {% endblock %}
        {% endif %}
    </div>

    <h3>{{item.name}} rating:</h3>
    <ul>
        {% for review in reviews %}
            <li>
                <p>{{review.author.name}}</p>
                <p>{{review.review_text}}</p>
                <p>Item rating:{{review.rating}}</p>
                <p>Posted:{{review.postTime}}</p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}