{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

  </head>

  <body>
    <header>
        <a href="{% url 'landing' %}">
            <h1>Django Blog Example</h1>
        </a>
        {% if user.is_authenticated %}
          <h3>Hello, {{user.get_username}}</h3>
          <form method="post" action="{% url 'logout' %}?next={{request.path}}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
              {% if perms.main.add_post %}
          <form method="get" action="{% url 'create' %}">
            {% csrf_token %}
            <button type="submit">Create post</button>
          </form>
              {% endif %}
            {% else %}
          <form method="post" action="{% url 'login' %}?next={{request.path}}">
            {% csrf_token %}
            <button type="submit">Log in</button>
          </form>
        {% endif %}
    </header>
    <div class="container">
      <div class="column">
        
        {% block content %}
        {% endblock %}

      </div>
      
    </div>
    <footer>
      <p>&copy; 2023 Django Blog Example</p>
    </footer>
  </body>
</html>